<footer>
  <hr class="linha_cinza" />
    <div class="footer_cima">
        <div>
            <section class="store">S T O R E</section>
        </div>
        <div class="footer_direita_cima">
            <ul class="redes_sociais">

                <a href="#">
                    <li style="--cor1: #18cca5; --cor2: #0c2e6d;">
                        <span class="icon"><img class="cor_icon" src="github.svg" alt=""></span>
                        <span class="text">Github</span>
                    </li>
                </a>

                <a href="#">
                    <li style="--cor1: #18cca5; --cor2: #0c2e6d;">
                        <span class="icon"><img style="fill: #8257E5;" src="linkedin.svg" alt=""></span>
                        <span class="text">LinkedIn</span>
                    </li>
                </a>

                <a href="#">
                    <li style="--cor1: #18cca5; --cor2: #0c2e6d;">
                        <span class="icon"><img src="globe.svg" alt=""></span>
                        <span class="text">Portifolio</span>
                    </li>
                </a>
            </ul>
        </div>
    </div>
  <hr class="linha_roxa" />
    <a class="email">
        <img class="email_icon" src="email.png" alt="" />
        victorfagundes123&#64;gmail.com
    </a>
  <br/>
</footer>
