<header>
    <section class="store">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"  > S T O R E </a>
    </section>
    <nav class="navbar_store">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">Home</a>
        <a routerLink="/computers" routerLinkActive="active" class="nav-link">Computers</a>
        <a routerLink="/smartphones" routerLinkActive="active" class="nav-link">Smartphones</a>
        <a routerLink="/about" routerLinkActive="active" class="nav-link">About</a>
        <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact Us</a>
        <span class="underline"></span>  
    </nav>
</header>
