/* Estilos para o carrossel */
.carousel {
    width: 500px; 
    display: flex;
  }
  
  .slide {
   
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; 
  }
  
  .slide.active {
    opacity: 1; 
  }
  
  .slide img {
    width: 1440px;
    height: auto;
  }
  
  /* Estilos para os botões */
  .prev, .next {

   
    background-color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }

  .card{
   text-align: center;
  }

  .button_card{
    background-color: white;
    border: none;
    cursor: pointer;
  }

  .titulos{
    font-size: 36px;
    font-weight:600;
  }

  .categorias {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    flex-wrap: wrap;
}

  .categorias_itens{
   
   
    align-items: center; 
    text-align: center;
    padding: 10px;
    gap: 10px; 
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.5s linear;
  }

  .categorias_imagens{
    width: 150px;
    height: 150px;
    /* width: 100%; */
    border-radius: 80%;
    aspect-ratio: 1/1;
    background-color: #D9D9D9;
    transition: all 0.5s linear;
    
  }

  .categorias_itens img{
    width: 100%;
    display: block;
  }

  .categorias_imagens:hover{
    box-shadow: 0 0 8px #c4bcbc;
  }
  
  .categorias_itens:hover {
    scale: 1.1;
    transition: all 0.2s linear;
  }



  categorias_itens:hover {
    scale: 1.1;
    transition: all 0.2s linear;
  }