/* Estilos para o carrossel */
.carousel {
    width: 500px; /* Largura desejada */
    display: flex;
  }
  
  .slide {
   
    opacity: 0; /* Esconder todos os slides */
    transition: opacity 0.5s ease-in-out; /* Transição suave */
  }
  
  .slide.active {
    opacity: 1; /* Mostrar o slide ativo */
  }
  
  .slide img {
    width: 1440px;
    height: auto;
  }
  
  /* Estilos para os botões */
  .prev, .next {

   
    background-color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }

  .card{
   text-align: center;
  }

  .button_card{
    background-color: white;
    border: none;
    cursor: pointer;
  }

  .titulos{
    font-size: 36px;
    font-weight:600;
  }

  .categorias {
    display: flex; 
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Alinha os itens verticalmente */
    gap: 20px; /* Espaço entre os itens */
    flex-wrap: wrap; /* Permite que os itens quebrem para a linha de baixo se necessário */
}

  .categorias_itens{
    display: flex;
    flex-direction: column; /* Para alinhar imagem e texto verticalmente */
    align-items: center; /* Centraliza a imagem e o texto */
    text-align: center;
    padding: 10px;
    gap: 10px; /* Espaço entre os itens */
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 16px;

  }

  .categorias_imagens{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #D9D9D9;
    
  }
  
